# Environment
.env
.env.local
.env.*.local

# Dependencies
node_modules/
/node_modules

# Logs
*.log
*.err
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Output
dist/
/dist
build/
/build
.next/
out/

# IDE
.idea/
.vscode/
.vs/
*.code-workspace
*.swp
*.swo
*~
.c9/
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Runtime
.cache/
.eslintcache
.parcel-cache
.turbo

# Vite
.vite/

# Misc
*.pem
