HELP.md
target/
.m2repo/
data/
node_modules/
frontend/node_modules/
frontend/dist/
.mvn/wrapper/maven-wrapper.jar
backend.log
backend.err
backend.run.log
backend.run.err.log
backend.runtime.out.log
backend.runtime.err.log
*.log
*.err
.env
frontend/.env
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
