# General
.DS_Store
*.swp
*.swo
*~
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
HELP.md

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
*.err
*.out
backend.log
backend.err
backend.run.log
backend.run.err.log
backend.runtime.out.log
backend.runtime.err.log

# Maven
target/
backend/target/
.m2repo/
backend/.m2repo/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Node.js
node_modules/
frontend/node_modules/
frontend/dist/

# IDE
.idea
.vscode/
.vs/
*.code-workspace
*.iws
*.iml
*.ipr

# STS
.apt_generated
.factorypath
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Data
data/
