# Environment
.env
.env.local
.env.*.local

# Logs
*.log
*.err
*.out

# Maven
target/
.m2repo/
.mvn/wrapper/maven-wrapper.jar
build/

# IDE
.idea/
.vscode/
.vs/
*.iws
*.iml
*.ipr
*.classpath
*.factorypath
*.project
.settings/
.c9/
*.launch
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/nbdist/
/.nb-gradle/

# OS
.DS_Store
*.swp
*.swo
*~

# Misc
*.class
*.jar
*.war
